extends layout

block content
    .container.text-center.mt-5
        h3 Internet access required for this page.
        p Sorry, you currently cannot view this page offline.
        a.mt-2.btn.btn-primary.btn-sm(href="/") HOME


