extends layout

block content
	.container.my-4
		h2 Why?
		p I was annoyed with gathering and comparing data from all the different sites in SG, so wanted to make a compiled list.
		br
		h2 How?
		p Data is gathered from the websites through web scraping. Updated weekly
		br
		h2 Can I suggest features?
		p Sure, email me at: insert email