extends layout

block content
	.container.my-4#overall-container
		h2 Why?
		p I was annoyed with gathering and comparing data from all the different sites in SG, so wanted to make a compiled list.
		br
		h2 How?
		p Data is gathered from the websites through web scraping. Updated weekly
		br
		h2 Can I suggest features?
		p Sure, email me at: insert email
		br
		h2 Why is this password protected?
		p Legal reasons - see below
		h5 Best Denki - Deep linking disallowed (<a href='https://www.bestdenki.com.sg/terms-conditions'>Terms & Conditions</a>)
		tt No part or parts hereof may be reproduced, distributed, republished, displayed, broadcast, hyperlinked or transmitted in any manner or by any means or stored in an information retrieval system without the prior written permission of Best Denki. You may not, without Best Denki's express prior written consent, insert a link to this website or from any other website, frame or "mirror" any material contained on this website or from any other server to this website.
		br
		br
		h5 Courts - Disallowed (<a href='https://www.courts.com.sg/conditions-of-use-and-buyer-agreement'>Terms & Conditions</a>)
		tt The Brand Names and all content included in or made available on COURTS Online, such as text, graphics, trademarks, logos, button icons, images, audio clips, digital downloads and data compilations is the property of COURTS (or its content suppliers). The compilation of all content included in or made available through COURTS Online is the exclusive property of COURTS.
		tt You may not extract and/or re-use the Brand Names or parts of the content of COURTS Online without our express written consent. In particular, you may not use any data mining, robots, or similar data gathering and extraction tools to extract (whether once or many times) for re-use of any substantial parts of the content of COURTS Online, without our express written consent. You may also not create and/or publish your own database that features substantial parts of COURTS Online (e.g. prices and product listings) without our express written consent.
		br
		br
		h5 Challenger - Allowed  (No mention in T&C) (<a href='https://www.hachi.tech/online-sales-terms'>Terms & Conditions</a>)
		br

		h5 Harvey Norman - Allowed (non-commercial use) (<a href='https://www.harveynorman.com.sg/corporate-information/terms-of-use.html'>Terms & Conditions</a>)
		tt You must not use any part of the materials on our website for commercial purposes without obtaining a written licence to do so from us or our licensors.
		br
		br
		h5 Gain City - Disallowed (non-commercial use) (<a href='https://www.gaincity.com/general/terms-of-use/#tc5'>Terms & Conditions</a>)
		tt The material contained in this website, in whole or in part, cannot be copied, broadcast, archived, stored, reproduced, modified, transferred, distributed, republished, downloaded, posted or transmitted in any form or by any means including, but not limited to, electronic, mechanical photocopying or recording or otherwise without the prior written permission of Gain City Best-Electric Pte Ltd.
		br
		br
		h5 ACER Online Store - Allowed  (No mention in T&C) (<a href='https://store.acer.com/en-sg/terms-conditions'>Terms & Conditions</a>)
		br
		
		h5 ASUS Online Store - Deep linking disallowed (<a href='https://sg.store.asus.com/terms-of-use-and-sales-agreement'>Terms & Conditions</a>)
		br
		
		h5 HP Online Store - Allowed  (No mention in T&C) (<a href='https://www.hp.com/sg-en/shop/terms-conditions'>Terms & Conditions</a>)
		br
		
		h5 LENOVO Online Store - Allowed  (No mention in T&C) (<a href='https://www.lenovo.com/sg/en/legal/'>Terms & Conditions</a>)





