extends layout

block content
    style.
        //- .image-container {
        //-     height: 94vh;

        //- }
        .image-container#laptops { 
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/laptop_masthead.jpg") no-repeat center center;
            background-size: cover;
        }
        .image-container#monitors {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/monitor_masthead.jpg") no-repeat center center;
            background-size: cover;
        }
        .text {
            color: white;
            font-size: 4rem
            

        }
    .row.p-0.m-0.flex-grow-1
        .col-12.col-lg-6.image-container#laptops.d-flex.justify-content-center
            .align-self-center.text-center.p-3
                h1.text.fw-bold LAPTOPS
                a.btn.btn-primary.btn-lg(href="/laptops") VIEW
        .col-12.col-lg-6.image-container#monitors.d-flex.justify-content-center
            .align-self-center.text-center.p-3
                h1.text.fw-bold MONITORS
                a.btn.btn-primary.btn-lg(href="/monitors") VIEW

    //- .d-flex.justify-content-around.align-items-center
    //-     .flex-fill.image-container#laptops.d-flex.justify-content-center
    //-         .align-self-center
    //-             h1.text.fw-bold ALL LAPTOPS
    //-             button.btn.btn-primary View LAPTOPS
            
    //-     .flex-fill.image-container#monitors
    //-         h3 Helo
            
    