/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.center { 
  margin: auto
}

.text-center { 
  text-align: center;
}

.input-container { 
  width: 75%;
  margin:auto
}

.query-input { 
  width: 89%;
}
.input-container > form > button { 
  width: 10%;
  min-width: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.items-container {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  
}
#total-items { 
  font-style: italic;
  text-align: end;
}
table { 
  margin: auto;
  width: 100%;
  
  ;
}

th, td { 
  padding: 5px;
  vertical-align: top;
}


.long { 
  word-wrap: break-word;
} */

#overall-container { 
  min-height: 100vh;
}

.fixed-size { 
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 20px
}

.card { 
  height: 97%
}

.logo-image { 
  height: 25px;
  object-fit:contain;
  max-width: 15%;
}

.small-text { 
  font-size: 0.85em !important;
}

.parent-relative {
  position: relative;
}

.child-bottom {
  position: absolute;
  bottom: 16px;
  
} 

.view-more-btn { 
  font-size: 14px
}

.flipped { 
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform 0.35s linear
}

.unflipped { 
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: transform 0.35s linear

}

img[data-loaded="true"], [data-loaded="true"] img { animation-name: showLazyImg; animation-duration: 0.7s; animation-fill-mode: both; } @keyframes showLazyImg { from { opacity: 0; } to { opacity: 1; } }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.select-container { 
  min-height: 29px;
}
.selectr-container:not(.has-selected) { 
  /* margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; */
  min-width: 150px;
}

.selectr-selected { 
  padding: 4px 20px 4px 10px !important;
  height: 100%;
  border: none !important;
  background-color: #fbfbfb;
  /* min-width: 150px; */
}



.selectr-selected::before {
  
  right: 8px !important
}
.selectr-placeholder { 
  font-size: 12px;
  margin-top: 2px;
}
.selectr-tag { 
  
  font-size: 11px;
  padding: 1px ​20px 1px 7px !important;
  margin: 0 2px 2px 0 !important;
  cursor: default !important;
  color: #4f4f4f!important;
  border: none !important;
  border-radius: 10px !important;
  background: white !important;
}

.selectr-option { 
  font-size: 12px;
  padding: 5px 10px !important;
}
.selectr-tag-remove::after, .selectr-tag-remove::before {
  background-color: #4f4f4f!important;
}
.selectr-options-container {
  
  border-style:none !important;
  
}
.selectr-optgroup--label {
  font-size: 14px;
  margin-top: 0px !important;
  padding: 3px 15px !important;
}

#select-weight { 
  width: 200px;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -o-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  left: -30px;
}
.weight-container { 
  width: 160px;
}
#select-weight-text {
  width: 125px;
  color: #6c7a86;
}

.font-small { 
  font-size: 12px;
}
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-connect { 
  background: var(--bs-primary)
}

.select-weight-container { 
  background-color: #fbfbfb;
}

#weight-unknown { 
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#weight-unknown-label { 
  color: #6c7a86;
}
#weight-unknown-container { 
  /* margin-left: -5px; */
  /* margin-right: 10px; */
}