
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}


#overall-container { 
  min-height: 100vh;
}
/* .product { 
  content-visibility: auto;
} */
.fixed-size { 
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 20px
}

.fixed-logo-size { 
  width: 80%;
  height: 100px;
  object-fit: contain;
  padding: 20px;
  padding-bottom: 0px
}
.card { 
  height: 97%
}

.logo-image { 
  height: 25px;
  object-fit:contain;
  max-width: 15%;
}

.small-text { 
  font-size: 0.85em !important;
}

.parent-relative {
  position: relative;
}

.child-bottom {
  position: absolute;
  bottom: 16px;
  
} 

.view-more-btn { 
  font-size: 14px
}

.flipped { 
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform 0.35s linear
}

.unflipped { 
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: transform 0.35s linear

}

.rotatedCross { 
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform 0.1s linear
}

.cross { 
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: transform 0.1s linear
}

img[data-loaded="true"], [data-loaded="true"] img { animation-name: showLazyImg; animation-duration: 0.7s; animation-fill-mode: both; } @keyframes showLazyImg { from { opacity: 0; } to { opacity: 1; } }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



#select-weight, #select-price { 
 
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  
}


.font-small { 
  font-size: 12px;
}
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-connect { 
  background: var(--mdb-primary)
}

.select-weight-container, .select-price-container { 
  background-color: #fbfbfb;
}

#weight-unknown, #price-unknown { 
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#weight-unknown-label, #weight-unknown-label { 
  color: #6c7a86;
}


.btn {
  text-transform: unset !important; 
  /* For resetting text to uppercase on buttons */
}

/* Override MDB modal */
.modal-dialog { 
  width: 95vw !important;
  max-width: none !important
}
@media only screen and (min-width: 992px) { 
  .modal-dialog { 
    width: 942px !important
  }
}
